<!DOCTYPE html>
<html ng-app="myApp">
  <head>
  <title>Directive Demo</title>
  </head>
<body ng-controller="mainCtrl">

  <h1>Plenty O' Stuff.com</h1>

  <div ng-repeat="product in products">
    <div ng-click="addToCart(product)">
      <h1>Name: {{product.name}}</h1>
      <p>Price: {{product.price | currency}}</p>
    </div>
  </div>

  <h1>Cart</h1>
  <ul ng-repeat="product in cart">
    <li>Name: {{product.name}}</li>
  </ul>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
  <script src="./app.js"></script>
  <script src="./mainCtrl.js"></script>
  <script src="./productService.js"></script>
  <script src="./cartService.js"></script>
</body>
</html>